/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#editor { 
  position: relative;
  height: 500px;
  
}

#console {
  height: 200px;
  padding-top: 10px;
}


#wrap > .container {
  padding: 70px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

/* Custom editor CSS
-------------------------------------------------- */

