/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  height: auto !important;
  height: 100%;
}

/* Set the fixed height of the footer here */
#footer {

}

.container {
  width: 100%;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#ace-wrapper {
  position: relative;
}

#editor { 

  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#console {

  margin: 0px;
  padding: 0px;
  /*padding-top: 10px;*/
}

#editor-messages {
  position: absolute;
  z-index: 100;
}

#wrap > .container {
  
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

/* Custom editor CSS
-------------------------------------------------- */
#tab-dropdown .active > a {
  background-color: #E0E0E0;
}

#tab-bar .disabled > a {
  color: #999
}

.new-class a {
  color: #777
}

.new-class a:hover {
  color: #000;
}

#tab-bar li a, .file-tab a {
  color: #555;
}

.file-tab.unsaved a {
  color: #d9534f !important;
}

/* bootstrap overrides some ace styiling :/ */
.ace_search {
  color: #000;
  font-size: .8em;
}

#toolbar {

  position: absolute;
  display: inline-block;
  top: 10px; 
  left: 60px; 
  z-index: 5;
}

#toolbar-settings {

  float: right;
  margin-left: 25px;
  margin-top: 10px;
}

#keyboard-shortcuts-modal table {
  margin-top: 20px;
  margin-bottom: 30px;
}

#download-addons-container {
  margin: auto;
  margin-top: 40px;
  width: 80%;
}

#download-addons-container .input-group{
  margin-top: 15px;
}

#ofsketch-settings-container {
 /* width: 80%;
  margin: auto;*/
}

#export-project-modal .list-group a {
  /*font-size: 1.1em;*/
}

#export-project-modal .list-group .label {
  float: right;
  margin-left: 5px;
}

/* Custom override for toolbar
http://stackoverflow.com/questions/18192082/bootstrap-3-navbar-collapse */
@media (max-width: 880px) {

  #collapsable-navbar {
    margin-top: 50px;
  }

  #collapse-toolbar-button {
    float: right; 
    margin-top: 10px;
  }

  /*#toolbar {
    left: 70px; 
  }*/

  #toolbar-settings {

    margin-left: -10px;
  }

  .navbar-header {
      float: none;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin: 7.5px -15px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in { 
      display: block!important;
  }
  .collapsing {
      overflow: hidden!important;
  }
}

/* Tablets */ 
@media (max-width: 768px) {

  /*oF logo*/
  .navbar-brand {
    display: none;
  }

  #toolbar {
    position: relative;
    left: 0px;
  }

}

/* Extra Small Devices, Phones */ 
@media (max-width : 480px) {

  #toolbar .hideable {
    display: none;
  }
}